header {
    background: #584b4f;
    color: #fff;
    height: 50px;
}

    header nav {
        display: flex;
    }

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-grow: 1;
    }

    header nav ul li, .site-logo {
        display: block;
        padding: 0 1rem;
        line-height: 50px;
    }

    header nav ul li, .site-logo a, header nav ul li, .site-logo a:hover {
        color: #fff;
        text-decoration: none;
    }

    header nav ul li a {
        color: #efeae1;
    }

    header nav ul li a:hover {
        color: #3b9b6d;
        text-decoration: none;
    }

.site-banner {
    background: linear-gradient(-45deg, #92d1c4, #a9c89b);
    padding: 3rem 1rem;
}

    .site-banner h2 {
        color: #555;
        font-size: 3rem;
    }

    .site-banner p {
        font-size: 1.2rem;
        color: #555;
    }