.member-profile-list-wrap {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.member-profile-list {
    display: flex;
    margin: 1rem;
    width: 100%;
}

    @media (min-width: 600px) {
        .member-profile-list {
            width: 300px;
        }
    }

.member-profile-list > img {
    width: 80px;
    height: 80px;
    display: block;
}

.member-profile-list > .summary {
    display: block;
    padding-left: 1rem;
}